<div class="list-group-item col-md-12">
    <%= fields_for "tasks[]", task do |task_form| %>
        <%= task_form.hidden_field(:id) %>
        <%= task_form.hidden_field(:position) %>
        <%= task_form.hidden_field(:created_at) %>
        <%= task_form.hidden_field(:updated_at) %>

        <div class="form-group">
            <%= task_form.label :title %><br>
            <%= task_form.text_field :title, class: 'form-control' %>
        </div>

        <div class="form-group">
            <%= task_form.label :is_done %><br>
            <%= task_form.check_box :is_done, class: 'form-check-input' %>
        </div>
        <br>
        <%= link_to "Delete", task_path(task), method: :delete, class: "btn btn-danger", remote: true, data: {confirm: "Delete?"} %>
    <% end %>
</div>